@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Task Management!</h1>
    <p>Helping you stay on top of your life's most important chores.</p>
    <img src="~/img/covey.png" /><br />
    <a asp-area="Home" asp-action="NewTask">Take control of your life and add a new task here!</a>
</div>